body {
    background: url(Imagenes/img2.jpg);
    border-radius: 500px;
}

.fuenteH{
    color: red;
}
/* 
.fuenteHfondo{
    background-color: ;
} */
p {
    color: tomato;
}


/* .formulario{
    background: url(Imagenes/img1.webp);
    height: auto;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.fuenteBlanca {
    color: black;
}

legend{
    color: aliceblue;
}
.legend1{
    color: red;
}

small{
    color: tomato;
    
}

label{
    size: 40;
}

.Registro{
    border: 10px solid red; 
    width: 400px;
    margin: 0% auto;
    background-color: white;
    opacity: 89%;
    text-align: center;
    font-size: 25px;
}