.fondoform{
    background-color: blue;
} 

.Titulo1{
    background-color: tomato;
    color: aqua;
}

.fondo1{
    background-color: aquas;
}

body{
    background-color: tomato;
}

p {
    background-color: yellow;
} 

